{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

	<style type="text/css">
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
			background-color: #17a2b8;
			border-color: #17a2b8;
		}
		.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
			box-shadow: 0 0 0 1px #17a2b8, 0 0 0 0.2rem rgba(23, 162, 184, 0.25); 
			border-color: #17a2b8;
		}
		.dark-tm {
			background-color: #343a40!important;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: white!important;
		}
	</style>

	{% if title%}
	<title>{{ title }}</title>
	{% else %}
	<title>Important.</title>
	{% endif %}
</head>

<body class="dark-tm">
	<div class="container my-5">
		{% block content %}{% endblock content %}
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("a").on('click', function(event) {
				if (this.hash !== "") {
					event.preventDefault();
					var hash = this.hash;
					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 800, function(){
						window.location.hash = hash;
					});
				}
			});
		});
	</script>
</body>
</html>